<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeng.ssm.dao.CategoryDao">
    <resultMap id="TreeResultMap" type="com.zeng.ssm.model.Category">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="parentId" jdbcType="VARCHAR" property="parentId" />
        <collection property="children" column="id" javaType="java.util.List"
                    ofType="com.zeng.ssm.model.Category"
                    select="selectCategoriesByCategoryId" />
    </resultMap>

    <resultMap id="BaseResultMap" type="com.zeng.ssm.model.Category">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="parentId" jdbcType="VARCHAR" property="parentId" />
        <association property="parent" column="parent_id" select="selectByPrimaryKey"/>
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from category;
    </select>

    <select id="selectCategoryTree" resultMap="TreeResultMap">
      select * from category where `parentId` = 0;
    </select>

    <select id="selectCategoriesByCategoryId" resultMap="TreeResultMap" parameterType="java.lang.Integer">
        select t.id, t.title, t.parentId from category t where parentId = #{id}
    </select>

    <resultMap id="SimpleResultMap" type="com.zeng.ssm.model.Category">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="parentId" jdbcType="INTEGER" property="parentId" />
<!--        <association column="parent_id" property="parent" select="selectByPrimaryKey" />-->
    </resultMap>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="SimpleResultMap">
        select * from category
        where id = #{pk, jdbcType=INTEGER}
    </select>

    <insert id="insert" parameterType="com.zeng.ssm.model.Category">
        insert into category (parentId, `title`)
        values (#{parentId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.zeng.ssm.model.Category">
        update category
        set
          parentId = #{parentId,jdbcType=INTEGER},
          `title` = #{title,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
      delete from `category` where id = #{id,jdbcType=INTEGER}
    </delete>
</mapper>