<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeng.ssm.dao.DataSourceDao">
    <resultMap id="BaseResultMap" type="com.zeng.ssm.model.DataSource">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
    </resultMap>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT * from `data_source` where id = #{pk};
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * from `data_source`;
    </select>

    <update id="updateByPrimaryKey" parameterType="com.zeng.ssm.model.DataSource">
        update `data_source`
        set
          `title` = #{title,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <insert id="insert" parameterType="com.zeng.ssm.model.DataSource" useGeneratedKeys="true" keyProperty="id" >
        insert into  `data_source` ( `title`)
        values (#{title,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
      delete from `data_source` where id = #{pk,jdbcType=INTEGER}
    </delete>

</mapper>