<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeng.ssm.dao.DeviceDao">
    <resultMap id="BaseResultMap" type="com.zeng.ssm.model.Device">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="power" jdbcType="VARCHAR" property="power" />
        <result column="description" jdbcType="VARCHAR" property="description" />
    </resultMap>

    <insert id="insert" parameterType="com.zeng.ssm.model.Device" useGeneratedKeys="true" keyProperty="record.id" >
        insert into  ${tableName} ( `title`, `type`, `power`, `description`)
        values ( #{record.title,jdbcType=VARCHAR}, #{record.type,jdbcType=VARCHAR},
         #{record.power,jdbcType=VARCHAR}, #{record.description,jdbcType=VARCHAR})
    </insert>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT * from ${tableName} where id = #{pk};
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * from ${tableName};
    </select>

    <select id="selectByContent" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT * from ${tableName}
        <if test="content != null">
            where title like '%${content}%'
        </if>
        ;
    </select>

    <update id="updateByPrimaryKey" parameterType="com.zeng.ssm.model.Device">
        update ${tableName}
        set
          `type` = #{record.type,jdbcType=VARCHAR},
          `power` = #{record.power,jdbcType=VARCHAR},
          `title` = #{record.title,jdbcType=VARCHAR},
          `description` = #{record.description,jdbcType=VARCHAR}
        where id = #{record.id,jdbcType=INTEGER}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
      delete from ${tableName} where id = #{pk,jdbcType=INTEGER}
    </delete>
</mapper>