<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeng.ssm.dao.EnergyDataDao">
    <resultMap id="BaseResultMap" type="com.zeng.ssm.model.EnergyData">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="scene_data_id" jdbcType="INTEGER" property="sceneDataId" />
        <result column="energy_id" jdbcType="INTEGER" property="energyId" />
        <result column="unit_id" jdbcType="INTEGER" property="unitId" />
        <result column="value" jdbcType="VARCHAR" property="value" />
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
        <association property="energy" column="energy_id" select="com.zeng.ssm.dao.EnergyDao.selectByPrimaryKey"/>
        <association property="unit" column="unit_id" select="com.zeng.ssm.dao.UnitDao.selectByPrimaryKey"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, scene_data_id, energy_id
    </sql>

    <insert id="insert" parameterType="com.zeng.ssm.model.EnergyData" useGeneratedKeys="true" keyProperty="record.id" >
        insert into ${tableName} (id, scene_data_id, `energy_id`, `unit_id`, `value`,)
        values (#{record.id,jdbcType=INTEGER}, #{record.sceneDataId,jdbcType=INTEGER}, #{record.energyId,jdbcType=INTEGER},
        #{record.unitId,jdbcType=INTEGER}, #{record.value, jdbcType=VARCHAR})
    </insert>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT * from ${tableName} where id = #{pk};
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * from ${tableName};
    </select>

    <select id="selectEnergyDataListBySceneDataId" resultMap="BaseResultMap">
        select * from ${tableName} where scene_data_id = #{pk}
    </select>

    <update id="updateByPrimaryKey" parameterType="com.zeng.ssm.model.EnergyData">
        update ${tableName}
        set
          `value` = #{record.value,jdbcType=VARCHAR}
        where id = #{record.id,jdbcType=INTEGER}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
      delete from ${tableName} where id = #{pk,jdbcType=INTEGER}
    </delete>

</mapper>