<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeng.ssm.dao.EnvLoadDao">
    <resultMap id="BaseResultMap" type="com.zeng.ssm.model.EnvLoad">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="treatment" jdbcType="VARCHAR" property="treatment" />
        <result column="safetyId" jdbcType="VARCHAR" property="safetyId" />
        <result column="envLoadCategoryId" jdbcType="INTEGER" property="envLoadCategoryId"/>
        <association property="envLoadCategory" column="envLoadCategoryId" select="com.zeng.ssm.dao.EnvLoadCategoryDao.selectByPrimaryKey"/>
        <association property="safety" column="safetyId" select="com.zeng.ssm.dao.SafetyDao.selectByPrimaryKey"/>
    </resultMap>

    <insert id="insert" parameterType="com.zeng.ssm.model.EnvLoad" useGeneratedKeys="true" keyProperty="id" >
        insert into `env_load` (`title`,`envLoadCategoryId`, `description`,`safetyId`,treatment)
        values (#{title,jdbcType=VARCHAR}, #{envLoadCategoryId,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{safetyId,jdbcType=INTEGER}, #{treatment,jdbcType=VARCHAR})
    </insert>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT * from `env_load` where id = #{pk};
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * from `env_load`;
    </select>

    <select id="selectByContent" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT * from `env_load`
        <if test="content != null">
            where title like '%${content}%'+
        </if>
        ;
    </select>

    <update id="updateByPrimaryKey" parameterType="com.zeng.ssm.model.EnvLoad">
        update `env_load`
        set
          `title` = #{title,jdbcType=VARCHAR},
          `description` = #{description,jdbcType=VARCHAR},
          `envLoadCategoryId` = #{envLoadCategoryId,jdbcType=INTEGER},
          `safetyId` = #{safetyId,jdbcType=INTEGER},
          `treatment` = #{treatment,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
      delete from `env_load` where id = #{pk,jdbcType=INTEGER}
    </delete>
</mapper>