<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeng.ssm.dao.MaterialDataDao">
    <resultMap id="BaseResultMap" type="com.zeng.ssm.model.MaterialData">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="sceneDataId" jdbcType="INTEGER" property="sceneDataId" />
        <result column="materialId" jdbcType="INTEGER" property="materialId" />
        <result column="materialDataCategoryId" jdbcType="INTEGER" property="materialDataCategoryId" />
        <result column="unitId" jdbcType="INTEGER" property="unitId" />
        <result column="createdAt" jdbcType="TIMESTAMP" property="createdAt" />
        <result column="updatedAt" jdbcType="TIMESTAMP" property="updatedAt" />
        <association property="material" column="materialId" select="com.zeng.ssm.dao.MaterialDao.selectByPrimaryKey"/>
        <association property="unit" column="unitId" select="com.zeng.ssm.dao.UnitDao.selectByPrimaryKey"/>
        <association property="materialDataCategory" column="materialDataCategoryId" select="com.zeng.ssm.dao.MaterialDataCategoryDao.selectByPrimaryKey"/>
        <association property="sceneData" column="sceneDataId" select="com.zeng.ssm.dao.SceneDataDao.selectSimpleByPrimaryKey"/>
    </resultMap>

    <insert id="insert" parameterType="com.zeng.ssm.model.MaterialData" useGeneratedKeys="true" keyProperty="id" >
        insert into material_data (id, sceneDataId, `materialId`, `unitId`, `value`, materialDataCategoryId)
        values (#{id,jdbcType=INTEGER}, #{sceneDataId,jdbcType=INTEGER}, #{materialId,jdbcType=INTEGER},
        #{unitId,jdbcType=INTEGER}, #{value, jdbcType=VARCHAR}, #{materialDataCategoryId, jdbcType=INTEGER})
    </insert>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT * from `material_data` where id = #{pk};
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * from `material_data`;
    </select>

    <select id="selectMaterialDataListBySceneDataId" resultMap="BaseResultMap">
        select * from `material_data` where sceneDataId = #{pk}
    </select>

    <update id="updateByPrimaryKey" parameterType="com.zeng.ssm.model.MaterialData">
        update `material_data`
        set
          `sceneDataId` = #{sceneDataId,jdbcType=INTEGER},
          `materialId` = #{materialId,jdbcType=INTEGER},
          `materialDataCategoryId` = #{materialDataCategoryId,jdbcType=INTEGER},
          `unitId` = #{unitId,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>