<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeng.ssm.dao.MaterialDao">
    <resultMap id="BaseResultMap" type="com.zeng.ssm.model.Material">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
    </resultMap>

    <insert id="insert" parameterType="com.zeng.ssm.model.Process" useGeneratedKeys="true" keyProperty="id" >
        insert into material (id, scene_id, `title`, `description`)
        values (#{id,jdbcType=INTEGER}, #{sceneId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR})
    </insert>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT * from `material` where id = #{pk};
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * from `material`;
    </select>

    <select id="selectByContent" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT * from `material`
        <if test="content != null">
            where title like '%${content}%'
        </if>
        ;
    </select>

</mapper>