<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeng.ssm.dao.OtherDataDao">
    <resultMap id="BaseResultMap" type="com.zeng.ssm.model.OtherData">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="scene_data_id" jdbcType="INTEGER" property="sceneDataId" />
        <result column="other_id" jdbcType="INTEGER" property="otherId" />
        <result column="unit_id" jdbcType="INTEGER" property="unitId" />
        <result column="value" jdbcType="VARCHAR" property="value" />
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
        <association property="other" column="other_id" select="com.zeng.ssm.dao.OtherDao.selectByPrimaryKey"/>
        <association property="unit" column="unit_id" select="com.zeng.ssm.dao.UnitDao.selectByPrimaryKey"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, scene_data_id, other_id
    </sql>

    <insert id="insert" parameterType="com.zeng.ssm.model.ParameterData" useGeneratedKeys="true" keyProperty="id" >
        insert into other_data (id, scene_data_id, `parameter_id`, `unit_id`, `value`)
        values (#{id,jdbcType=INTEGER}, #{sceneDataId,jdbcType=INTEGER}, #{parameterId,jdbcType=INTEGER},
        #{unitId,jdbcType=INTEGER}, #{value, jdbcType=VARCHAR})
    </insert>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT * from `other_data` where id = #{pk};
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * from `other_data`;
    </select>

    <select id="selectOtherDataListBySceneDataId" resultMap="BaseResultMap">
        select * from `other_data` where scene_data_id = #{pk}
    </select>

</mapper>