<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeng.ssm.dao.PermissionDao">
    <resultMap id="BaseResultMap" type="com.zeng.ssm.model.Permission">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="permissionOperationId" jdbcType="INTEGER" property="permissionOperationId" />
        <result column="categoryId" jdbcType="INTEGER" property="categoryId" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <association property="category" column="categoryId" select="com.zeng.ssm.dao.CategoryDao.selectByPrimaryKey"/>
        <association property="permissionOperation" column="permissionOperationId"
                     select="com.zeng.ssm.dao.PermissionOperationDao.selectByPrimaryKey"/>
    </resultMap>

    <insert id="insert" parameterType="com.zeng.ssm.model.Permission" useGeneratedKeys="true" keyProperty="id" >
        insert into `permission` (id, permissionOperationId, title, `categoryId`, `description`)
        values (#{id,jdbcType=INTEGER}, #{permissionOperationId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},
        #{categoryId,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR})
    </insert>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT * from `permission` where id = #{pk};
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * from `permission`;
    </select>

    <select id="selectListByGroupId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT * from `permission` where user_id = #{userGroupId};
    </select>

</mapper>