<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeng.ssm.dao.ProcessDao">
    <resultMap id="BaseResultMap" type="com.zeng.ssm.model.Process">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="scene_id" jdbcType="INTEGER" property="sceneId" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
<!--        <collection column="id" property="dataList" ofType="com.zeng.ssm.model.Data"-->
<!--                    javaType="java.util.ArrayList" select="com.zeng.ssm.dao.DataDao.selectDataListByProcessId"/>-->
    </resultMap>

    <insert id="insert" parameterType="com.zeng.ssm.model.Process" useGeneratedKeys="true" keyProperty="record.id" >
        insert into process_recode (id, scene_id, `title`, `description`)
        values (#{record.id,jdbcType=INTEGER}, #{record.sceneId,jdbcType=INTEGER}, #{record.title,jdbcType=VARCHAR}, #{record.description,jdbcType=VARCHAR})
    </insert>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT * from `process_recode` where id = #{pk};
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * from `process_recode`;
    </select>

    <select id="selectProcessListBySceneId" resultType="com.zeng.ssm.model.Process">
        select * from process_recode
        where scene_id = #{pk}
    </select>

</mapper>