<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeng.ssm.dao.UnitDao">
    <resultMap id="BaseResultMap" type="com.zeng.ssm.model.Unit">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="unitCategoryId" jdbcType="INTEGER" property="unitCategoryId" />
        <association property="unitCategory" column="unitCategoryId" select="com.zeng.ssm.dao.UnitCategoryDao.selectByPrimaryKey"/>
    </resultMap>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT * from `unit` where id = #{pk};
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * from `unit`;
    </select>

    <update id="updateByPrimaryKey" parameterType="com.zeng.ssm.model.Unit">
        update `unit`
        set
          `title` = #{title,jdbcType=VARCHAR},
          `unitCategoryId` = #{unitCategoryId,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <insert id="insert" parameterType="com.zeng.ssm.model.Unit" useGeneratedKeys="true" keyProperty="id" >
        insert into  `unit` ( `title`,`unitCategoryId`)
        values (#{title,jdbcType=VARCHAR},#{unitCategoryId,jdbcType=INTEGER})
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
      delete from `unit` where id = #{pk,jdbcType=INTEGER}
    </delete>

</mapper>