<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeng.ssm.dao.UsageEnumDao">
    <resultMap id="BaseResultMap" type="com.zeng.ssm.model.UsageEnum">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
    </resultMap>

    <insert id="insert" parameterType="com.zeng.ssm.model.UsageEnum" useGeneratedKeys="true" keyProperty="record.id" >
        insert into usage_enum (`title`)
        values (#{record.title,jdbcType=VARCHAR})
    </insert>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * from `usage_enum`;
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT * from `usage_enum` where id = #{pk};
    </select>

    <update id="updateByPrimaryKey" parameterType="com.zeng.ssm.model.UsageEnum">
        update usage_enum
        set id = #{record.id,jdbcType=INTEGER},
          title = #{record.title,jdbcType=VARCHAR},
        where id = #{record.id,jdbcType=INTEGER}
    </update>

</mapper>